#root {
    max-width: 1000px;
    margin: 160px auto;
    text-align: center;
}

input {
    width: 1000px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0;
}

thead {
    font-weight: bold;
    font-size: x-large;
}

th {
    width: 33%;
    text-align: center;
    padding: 8px;
}

table {
    width: 100%;
    height: auto;
    border-color: #1a1a1a;
    border-style: solid;
    border-collapse: collapse;
    table-layout: fixed;
    padding: 20px;
}

table caption {
    font-size: xx-large;
    font-weight: bold;
}

td {
    text-align: center;
}

#card{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-input {
    width: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
}

button{
    margin: 5px;
}